<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>GetIt<span>Done</span></h1>
        <h2>Be more efficent with a list!</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here and press enter for the magic...">
    </section>

    <ul class="list">
    </ul>

    <script type="text/javascript" src="app.js"></script>
</body>
